.nav ul {
    list-style-type: none;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 84.4px;
    text-decoration: none;
    float: left;
}

.nav li a:hover{
    background-color: #111;
}

body {
    background-image: url("BGStartsida.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

div.images{
    margin-top: 30px;
}

div.img1 {
    margin-right: 350px;
    float: left;
    width: 40px;
    height: 20px;
    padding: 15px;
}

div.img2 {
    margin-right: 350px;
    float: left;
    width: 40px;
    height: 20px;
    padding: 15px;

}

div.img:hover {
    border: 1px transparent #777;
}


div.desc {
    padding: 15px;
    text-align: center;
}