/*Nav bar*/
.nav ul {
    list-style-type: none;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 84.4px;
    text-decoration: none;
    float: left;
}

.nav li a:hover{
    background-color: #111;
}
/*bakgrund*/
body {
    background-image: url("SkräpProg/BGStartsida.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

/*bilder på games sidan*/
}

.images a:hover{
    background-color: darkgray;
}

div.images{
    margin-top: 70px;
    margin-left: 200px;
}

div.img1 {
    float: left;
}
div.img2 {
    padding-left: 27px;
    float: left;
}
div.img3{
    padding-left: 27px;
    float: left
}
div.img4{
    padding-top: 27px;
    float: left;
}
div.img5{
    padding-top: 27px;
    float: left;
    padding-left: 27px;
}
div.img6{
    padding-top: 27px;
    float: left;
    padding-left: 27px;
}

